<!-- Mixin -->
mixin post(title, index)
  article.blog-post
    a(href='./blog-post.html')
      img.blog-post__img(src=`./assets/post/${ index === 8 ? 1 : ( index < 4 ? index + 1 : index - 3 ) }.png` alt='post_thumbnail')
      div.blog-post__content
        h3.blog-post__title= title
        p.blog-post__excerpt
          | Easy assembly as well. Thankyou for the quick delivery. Now we can&rsquo;t wait to bring home our first chickens. Thanks again My Chicken Coop
        button.blog-post__btn(href='blog/chicken/spring-to-life-with-backyard-chickens') View post

mixin postCustom(title, index)
  a(href='./blog-post.html')
    article.blog-post.custom
      .blog-post__img-wrap
        img.blog-post__img(src=`./assets/post/${ index + 1 }-small.png` alt='post_thumbnail')
      div.blog-post__content-custom
        h3.blog-post__title.custom= title
        block

<!-- Content -->
doctype html
head
  meta(http-equiv='Content-Type' content='text/html; charset=utf-8')
  meta(name='keywords' content='Chicken coop, Chicken coops, chicken coop for sale, chicken coops for sale, chicken coops Australia, chickencoops, chicken coup')
  meta(name='description' content='Premium chickens coops at the lowest price guarantee! Fast Australia wide delivery. Free transit insurance & 100% Money Back Guarantee. ')
  meta(name='viewport' content='width=device-width, initial-scale=1.0, user-scalable=0')
  meta(name='google-site-verification' content='97bkWVzvmk0v2D1AwgtGZgcLGUlY8KMWxjvSrklRnOA')
  meta(name='msvalidate.01' content='C48A9D1789F9DA8AF77F49840275DE9C')
  meta(property='og:image' content='/assets/website_logo.png')
  meta(property='og:title' content='Chicken Coop For Sale | Buy Chicken Coops Australia | Chicken Coup & Hutch')
  meta(property='og:site_name' content='Chicken Coop For Sale | Buy Chicken Coops Australia | Chicken Coup & Hutch')
  title Blog | Buy Chicken Coops Australia | Chicken Coup &amp; Hutch
  link(rel='canonical' href='https://www.mychickencoop.com.au/')
  link(rel='shortcut icon' href='https://www.mychickencoop.com.au/assets/favicon_logo.png')
  link(rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" media="all")
  link(rel='stylesheet' href='https://www.mychickencoop.com.au/assets/themes/2020-04-atomic/css/app.css?1597729710')
  link(rel='stylesheet' href='https://www.mychickencoop.com.au/assets/themes/2020-04-atomic/css/style.css?1222&1597729710')
  link(rel='stylesheet' href='styles.css')
.blog
  .container
    ul.breadcrumb
      li
        a(href='./') Home
      li
        a(href='./blog.html') Blog
    section.banner
      h1.banner__title My Chicken Coop Blog
    section.row.blog-content
      .col-xs-12.col-md-9
        .row
          - var postsTitles = [ 'Spring to life with backyard chickens', 'Cluckingham Palace awaiting their majesties', 'The chickens are loving it thanks” Kym', 'Cluckingham Palace awaiting their majesties', 'Spring to life with backyard chickens', 'The chickens are loving it thanks” Kym', 'Spring to life with backyard chickens', 'Spring to life with backyard chickens', 'Spring to life with backyard chickens' ];
          each title, index in postsTitles
            .col-xs-12.col-sm-4
              +post(title, index)
        div.pagination-wrap
          ul.pagination
            li.pagination__item.pagination__nav
              a(href='./blog?prev')
                i.fa.fa-chevron-left(aria-hidden='true')
                | Back
            li.pagination__item
              a(href='./blog?pgnum=1')
                | 1
            li.pagination__item.active
              a(href='./blog.html?pgnum=2')
                | 2
            li.pagination__item
              a(href='./blog.html?pgnum=3')
                | 3
            li.pagination__item
              a(href='./blog.html?pgnum=4')
                | 4
            li.pagination__item.pagination__more
              span ...
            li.pagination__item
              a(href='./blog.html?pgnum=10')
                | 10
            li.pagination__item.pagination__nav
              a(href='./blog.html?next')
                | More
                i.fa.fa-chevron-right(aria-hidden='true')
            li
      .col-xs-12.col-md-3
        .panel.panel-default
          .panel-heading
            h3.panel-title Posts by Categories
          ul.list-group
            li
              a.list-group-item(href='./blog-chicken.html')
                | Chicken
            li
              a.list-group-item(href='./blog-chicken.html')
                | Cat
        .panel.panel-default
          .panel-heading
            h3.panel-title Lastest posts
          .lastest-post
            - var lastestPostsTitles = [ 'Chicken Coop For Sale Mid Year', 'Clearance sale - Hurry Stocks are limited', 'we offer affordable chicken coops and hyphan', 'Spring to life with backyard chickens' ];
            each title, index in lastestPostsTitles
              +postCustom(title, index)
                  p.blog-post__excerpt.custom
                    | Easy assembly as well. Thankyou for the quick delivery. Now we can’ say anything
